version: "3"

services:
  powerdns:
    image: powerdns:4.8-alpine
    hostname: powerdns
    build: powerdns
    #environment:
    #depends_on:
    #  - mariadb-master

  powerdnsadmin:
    image: powerdnsadmin/pda-legacy:latest
    container_name: powerdns_admin
    ports:
      - "9191:80"
    logging:
      driver: json-file
      options:
        max-size: 50m
    environment:
      - SQLALCHEMY_DATABASE_URI=mysql://pda:changeme@host.docker.internal/pda
      - GUNICORN_TIMEOUT=60
      - GUNICORN_WORKERS=2
      - GUNICORN_LOGLEVEL=DEBUG

  mariadb-master:
    image: mariadb-powerdns:latest
    build: mariadb
    command: --server_id=1 --log-bin --log-basename=master1 --binlog-format=mixed
    environment:
      MARIADB_RANDOM_ROOT_PASSWORD: yes
      MARIADB_USER: powerdns
      MARIADB_PASSWORD: powerdnspassword
      MARIADB_DATABASE: powerdns
      MARIADB_REPLICATION_USER: pds_replication
      MARIADB_REPLICATION_PASSWORD: pds_replication_pass
    healthcheck:
      test: ["CMD", "healthcheck.sh", "--connect", "--innodb_initialized"]
      interval: 10s
      timeout: 5s
      retries: 3
    volumes:
      - mariadb-master:/var/lib/mysql

volumes:
    mariadb-master: